version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: sels_postgres
    restart: always
    environment:
      POSTGRES_USER: sels_user
      POSTGRES_PASSWORD: sels_password
      POSTGRES_DB: sels_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
