@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aeroport';
  font-style: normal;
  font-weight: 300;
  src: local('Arial'), local('Helvetica');
}

@font-face {
  font-family: 'Aeroport';
  font-style: normal;
  font-weight: 400;
  src: local('Arial'), local('Helvetica');
}

@font-face {
  font-family: 'Aeroport';
  font-style: normal;
  font-weight: 500;
  src: local('Arial'), local('Helvetica');
}

@font-face {
  font-family: 'Aeroport';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold'), local('Helvetica Bold');
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
