name: Deploy to Selectel

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /root/sels
            git pull origin main
            docker compose build --no-cache
            docker compose up -d
            sleep 5
            docker compose exec web npx prisma generate || true
            docker compose exec web npx prisma db push || true
            docker compose restart web
